.tags {
  max-height: 250px;
  overflow: auto;
  padding: 5;
}

.oddRow {
  background: #f3f5f9 !important;
}

.active {
  background: #dcecee !important;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
